@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow: scroll;
    font-family: Arial, sans-serif;
    /* background-color: #115851; */

}

#stage {
    background-color: transparent;
}
    canvas {
    border: 1px solid red;
    background-color: transparent!important;
    /* position: absolute;
    top: 0;
    left: 0; */
}
